.detail-wrap {
  overflow: auto;
  height: 100%;
  margin-bottom: 70px;
  .event-table {
    // width: initial;
  }
  table td {
    white-space: nowrap;
  }
}

.member-item {
  align-items: center;
  margin-bottom: 10px;
}

.detail-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #aaa;
  text-align: right;
}

.btn + .dropdown-toggle-split {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
